<ul id="login" class="menu">
	<li><a href="/view1">view1</a></li>
	<li><a href="/RC-Data-List">rc</a></li>
</ul>

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

<div id="profile" style="font-size:14px;display:none;">
    <img id="head" ng-src="{{userInfo.image.url}}&sz=200"/><br />
    Email：<span id="email">{{userInfo.emails[0].value}}</span><br />
    Age：<span id="age">{{userInfo.ageRange.min}}</span><br />
    gender : <span id="gender">{{userInfo.gender}}</span><br />
    Name：<span id="name">{{userInfo.displayName}}</span><br />
    <a href="javascript:;" ng-click="disconnectUser()">取消應用程式連結</a>
</div>

<span ng-show="isAuthenticated">{{welcome}}</span>
<form ng-show="!isAuthenticated" ng-submit="submit()">
<input ng-model="user.email" type="text" name="user" placeholder="Username" />
<input ng-model="user.password" type="password" name="pass" placeholder="Password" />
<input type="submit" value="Login" />
</form>
<div>{{error}}</div>
<div ng-show="isAuthenticated">
	<a ng-click="callRestricted()" href="">Shh, this is private!</a>
	<br>
	<div>{{message}}</div>
	<a ng-click="logout()" href="">Logout</a>
</div>